.container {
    margin: 20px auto;
    width: 90vw;
    max-width: 1024px;
  }
  
  .banner {
    background-color: #fff;
    box-shadow: 0px 3px 6px -3px #bdbdbd;
  }
  
  .banner > div {
    padding: 40px 0 48px 0;
    width: 90vw;
    max-width: 1024px;
  }
  
  .banner .headline {
    font-size: 45px;
    margin-bottom: 16px;
    font-weight: 300;
  }
  
  .banner .content {
    line-height: 32px;
  }
  
  .footer {
    padding: 2em 0;
  }
  
  .footer-title {
    text-transform: uppercase;
    font-weight: 400;
  }
  
  .footer-links ul {
    list-style-type: none;
  }
  
  .footer-links ul li {
    margin-bottom: 1em;
    font-weight: 100;
  }
  .footer-links ul li a{
    text-decoration: none;
    color: inherit;
  }
  
  .card {
    position: relative;
    flex: 1 0 330px;
    max-width: 330px;
    margin: 0 16px 16px 0;
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out;
    
    &:hover {
      box-shadow: 0 2px 6px -1px rgba(0, 0, 0, 0.2), 0 1px 6px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    }

    &:nth-of-type(3n) {
      margin-right: 0;
    }

    .card-header {
      height: 120px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }

    .card-icon {
      width: 72px;
      height: 72px;
      border: solid 1px #dadce0;
      position: absolute;
      top: 84px;
      left: 20px;
      background-color: #fff;

      img {
        width: 100%;
      }
    }
    .card-body {
      margin-top: 36px;

      .tags {
        font-size: .8em;
      }
    }
  }