<mat-toolbar color="primary" class="header">
  <mat-toolbar-row>
    <div class="title">Botfuel tutorials</div>
    <input class="searchbox" type="text" placeholder="Search..." [(ngModel)]="searchText"/>
  </mat-toolbar-row>
</mat-toolbar>
<div class="container">
  <div class="card" *ngFor="let codelab of codelabs  | filter : searchText">
    <mat-toolbar color="primary" class="header">
      <mat-toolbar-row>
        <div class="duration"><i class="far fa-clock"></i><span>{{codelab.duration}} min</span></div>
      </mat-toolbar-row>
    </mat-toolbar>
    <div class="content">
        {{codelab.title}}
    </div>
    <div class="footer">
      <button mat-button routerLink="/codelab/{{codelab.id}}">START</button>
    </div>
  </div>
</div>