.container {
  margin: 20px auto;
  width: 90vw;
  max-width: 1024px;
}

.container .menu {
  display: flex;
  justify-content: flex-end;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header mat-toolbar-row {
  display: flex;
  flex-direction: row;
  max-width: 1024px;
  align-self: center;
  padding: 0;
}

.header img {
  max-height: 40px;
  margin-right: 1em;
}

.header .title {
  margin-right: 1em;
}

.header .searchbox {
  padding: 5px;
  background-color: #90d0b1;
  outline: none;
  box-shadow: none;
  border: none;
  color: #444;
  font-size: 16px;
  height: 40px;
  flex: 1;
}

.banner {
  background-color: #fff;
  box-shadow: 0px 3px 6px -3px #BDBDBD;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.banner > div {
  padding: 40px 0 48px 0;
  width: 90vw;
  max-width: 1024px;
}

.banner .headline {
  font-size: 45px;
  margin-bottom: 16px;
  font-weight: 300;
}

.card {
  display: flex;
  position: relative;
  flex-direction: column;
  /* max-width: 330px; */
  flex: 0 0 32%;
  /* margin: 0 2% 2% 0; */
  min-height: 200px;
  margin-bottom: 2%;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  background-color: #fff;
}

.card .header mat-toolbar-row {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: flex-end;
  padding: 0 12px;
}

.card .header i {
  margin-right: 5px;
}

.card .header .duration {
  font-weight: normal;
  font-size: 16px;
}

.card .content {
  flex: 1;
  padding: 24px;
  max-width: 100%;
  line-height: 1.5em;
}

.card .footer {
  padding: 12px 0;
  border-top: solid 1px #DADCE0;
}

mat-card {
  display: flex;
  position: relative;
  flex-direction: column;
  /* max-width: 330px; */
  flex: 0 0 30%;
  /* margin: 0 2% 2% 0; */
  min-height: 200px;
  margin-bottom: 20px;
}

mat-card .no-padding {
  margin: -24px -24px 0px -24px;
  width: calc(100% + 48px);
}