<mat-sidenav-container>
  <mat-sidenav #sidenav [mode]="isScreenSmall() ? 'over' : 'side'" [opened]="!isScreenSmall()" [mode]="isScreenSmall() ? 'over' : 'side'"
    [fixedInViewport]="isScreenSmall()">
    <div class="steps">
      <div *ngFor="let step of tutorialDetails?.steps; index as idx" (click)="goToStep(idx + 1)" class="step" [class.complete]="idx + 1 <= currentStep"
        [class.active]="currentStep === idx + 1">
        <i>{{idx + 1}}</i>
        <span>{{step.title}}</span>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="title-toolbar">
      <mat-toolbar-row>
        <span routerLink="/"><</span><span>{{tutorialDetails?.title}}</span>
      </mat-toolbar-row>
    </mat-toolbar>
    <div class="codelab-step">


      <!-- <mat-card> -->
        <!-- <mat-card-content markdown [src]="getTutorialMdUrl()" (error)="onError($event)"></mat-card-content> -->
        <!-- <mat-card-content markdown [data]="tutorialMd" (error)="onError($event)"></mat-card-content> -->
      <!-- </mat-card> -->
      
      <mat-card *ngFor="let step of tutorialSteps; index as idx" id="step-{{idx + 1}}" class="step-card" [class.selected]="idx + 1 == currentStep">
        <mat-card-content markdown [data]="step" (error)="onError($event)"></mat-card-content>
      </mat-card>
      <div class="controls">
        <button mat-fab (click)="prev()" color="primary"><</button>
        <button mat-fab (click)="next()" color="primary">></button>
      </div>

      <!-- <mat-horizontal-stepper [linear]="isLinear" #stepper>
          <mat-step *ngFor="let step of tutorialSteps; index as idx" id="step-{{idx + 1}}">
            <div markdown [data]="step" (error)="onError($event)"></div>
          </mat-step>
        </mat-horizontal-stepper>
        <button (click)="prev(stepper)">Prev</button>
        <button (click)="next(stepper)">Next</button> -->
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>