.flex {
    display: flex;
}

.flex-grow {
    flex-grow: 1;
}

$properties: (
    "flex-direction": (row, column),
    "justify-content": (space-between, space-around, center, flex-start, flex-end, space-evenly),
    "align-items": (flex-start, flex-end, center, stretch, baseline),
    "align-content": (flex-start, flex-end, center, stretch, space-between, space-around),
    "flex-wrap": (wrap, nowrap, wrap-reverse)
);

@each $name, $property in $properties {
    @each $value in $property {
        .flex.#{$name}-#{$value} {
            #{$name}: $value;
        }
    }
}