@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

$md-msdev-palette: (
    50: #e0f1fa,
    100: #b3dcf3,
    200: #80c5eb,
    300: #4dade3,
    400: #269cdd,
    500: #008ad7,
    600: #0082d3,
    700: #0077cd,
    800: #006dc7,
    900: #005abe,
    A100: #e6f0ff,
    A200: #b3d2ff,
    A400: #80b4ff,
    A700: #67a5ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);



// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$msdev-app-primary: mat-palette($md-msdev-palette);
$msdev-app-accent:  mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$msdev-app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$msdev-app-theme: mat-light-theme($msdev-app-primary, $msdev-app-accent, $msdev-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($msdev-app-theme);