/* @import '~@angular/material/prebuilt-themes/deeppurple-amber.css'; */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}

::selection {
  background: #bdf0d7; /* WebKit/Blink Browsers */
}

html, body {
  padding: 0;
  margin: 0;
  color: #5F6368;
  font-family: 'Roboto', sans-serif;
  background: #e0e0e0;
}

/* code[class*="language-"] {
  background: #272822 !important;
} */

  app-codelab {
  display: flex;
  flex-direction: column;
  position: absolute;
  /* top: 56px; */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

mat-toolbar-row {
  color: #fff;
}

[hidden] { 
  visibility: hidden !important;
}

mat-card {
  background-color: #fff;
}

mat-card-content * {
  max-width: 100%;
  line-height: 1.5em;
}