/* You can add global styles to this file, and also import other style files */

$font-color: #4b4b4b;
html, body { height: 100%; }

body {
    margin: 0;
    padding: 0;
    font-family: Open Sans,Helvetica,sans-serif;
    // font-family: Roboto, "Helvetica Neue", sans-serif; 
    color: $font-color;
    height: 100%;
}

h1, h2, h3, h4 {
    margin: 1em 0 .2em 0;
}

p {
    margin-top: 0;
    margin-bottom: 1em;
    line-height: 1.7em;
}

.flex {
    display: flex;
}

.flex-grow {
    flex-grow: 1;
}

.flex[flex-align='column'] {
    flex-direction: column;
}

.flex[flex-align='row'] {
    flex-direction: row;
}

.flex[justify-content='space-between'] {
    justify-content: space-between;
}

.flex[justify-content='space-around'] {
    justify-content: space-between;
}

.flex[justify-content='center'] {
    justify-content: center;
}

.flex[justify-content='flex-start'] {
    justify-content: flex-start;
}
.flex[justify-content='flex-end'] {
    justify-content: flex-end;
}


.flex[align-items='center'] {
    align-items: center;
}

.flex[align-items='flex-end'] {
    align-items: flex-end;
}

.flex[flex-wrap='wrap'] {
    flex-wrap: wrap;
}

div[markdown] * {
    max-width: 100%;
}

div[markdown] img {
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

div[markdown] pre[class*="language-"] {
    border-radius: 0.2em;
}

div[markdown] ul {
    padding-left: 2em;
}

[hidden] { 
    visibility: hidden !important;
}


.card {
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    margin: 2em;
    background-color: #fff;
    line-height: 1.7;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-drawer-container {
    width: 100%;

    .mat-drawer-backdrop.mat-drawer-shown {
        background-color: rgba(0,0,0,.6);
    }

    .mat-drawer-inner-container {
        display: flex;
        flex-direction: column;
    }
}


.mat-dialog-container {
    background-color: #fff;
}

.cdk-visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    outline: 0;
    -webkit-appearance: none;
    -moz-appearance: none
}

.cdk-overlay-container,.cdk-global-overlay-wrapper {
    pointer-events: none;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%
}

.cdk-overlay-container {
    position: fixed;
    z-index: 1000
}

.cdk-overlay-container:empty {
    display: none
}

.cdk-global-overlay-wrapper {
    display: flex;
    position: absolute;
    z-index: 1000
}

.cdk-overlay-pane {
    position: absolute;
    pointer-events: auto;
    box-sizing: border-box;
    z-index: 1000;
    display: flex;
    max-width: 100%;
    max-height: 100%
}

.cdk-overlay-backdrop {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    pointer-events: auto;
    -webkit-tap-highlight-color: transparent;
    transition: opacity 400ms cubic-bezier(0.25, 0.8, 0.25, 1);
    opacity: 0
}

.cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
    opacity: 1
}

@media screen and (-ms-high-contrast: active) {
    .cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
        opacity: .6
    }
}

.cdk-overlay-dark-backdrop {
    background: rgba(0,0,0,.32)
}

.cdk-overlay-transparent-backdrop,.cdk-overlay-transparent-backdrop.cdk-overlay-backdrop-showing {
    opacity: 0
}

.cdk-overlay-connected-position-bounding-box {
    position: absolute;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    min-width: 1px;
    min-height: 1px
}

.cdk-global-scrollblock {
    position: fixed;
    width: 100%;
    overflow-y: scroll
}

@keyframes cdk-text-field-autofill-start {
    /*!*/
}

@keyframes cdk-text-field-autofill-end {
    /*!*/
}

.cdk-text-field-autofill-monitored:-webkit-autofill {
    animation: cdk-text-field-autofill-start 0s 1ms
}

.cdk-text-field-autofill-monitored:not(:-webkit-autofill) {
    animation: cdk-text-field-autofill-end 0s 1ms
}

textarea.cdk-textarea-autosize {
    resize: none
}

textarea.cdk-textarea-autosize-measuring {
    padding: 2px 0 !important;
    box-sizing: content-box !important;
    height: auto !important;
    overflow: hidden !important
}

textarea.cdk-textarea-autosize-measuring-firefox {
    padding: 2px 0 !important;
    box-sizing: content-box !important;
    height: 0 !important
}